<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Wikipedia Graph Mapper</title>
</head>
<body>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <div class="center-on-page">
        <h1>Wikipedia Graph Mapper</h1>
        <form class="form-inline" method="POST" action="{{ url_for('result')}}">
            <!--Search Form-->
            <div class="input-bar">
                <input type="text" name="search_body" placeholder="Enter URL here..">
            </div> 
            <div class="input-bar">
                <input type="text" name="max_level" placeholder="Enter MAX search depth here..">
            </div>
            <!--Dropdown list-->
            <div class="select-bar">
                <select name="comp_select" class="selectpicker form-control">
                    {% for option in options %}
                    <option value="{{ option }}">
                        {{ option }}
                    </option>
                    {% endfor %}
                </select>
            </div>
            <!--Button-->
            <button type="submit" class="btn">Create my graph!</button>
        </form>
    </div>
</body>
</html>